doctype html
html(lang="en")
    head
      meta(charset='UTF-8')
      title Yellow light
      style.
        body {
        background-color: #FFCE33;
        }
    div(style='color: #FFFFFF ; text-align: center')
      h1 Yellow
      h2 #{joke} &#128517;
      p
        | Author: Hayk Davtyan.&nbsp;
        a(href='https://github.com/hayk96/trafficlight-docker-challenge') project link